<html>

<script src="/static/script.js"></script>
<body>
    Wagwan
    <br>
    <br>
    <label for="name">Input:</label>
    <input type="inp1" id="inp1" name="inp1" value="">
    <br>
    <br>
    <input type="number" id="inp2" name="inp2" value=1>
    <br>
    <br>
    
    <div id="result">
        default
    </div>
    
    <br>
    <br>
    <button type="submit" value="" onclick="button1();" class="majorButton">Button 1</button>
    <br>
    <br>
    <div id="log" style="color:red">
        -log-
    </div>
</body>
</html>
